<a href="https://colab.research.google.com/github/dduraess/biblia-semantica/blob/master/gnt_vs_lxx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import cltk as cltk
import nltk
import pandas as pd
from pandasql import sqldf
import sys
sys.path.append('/Users/davison/Software/almeida-semantica')
from src.ConectorBD import *

In [ ]:

import nltk

In [ ]:
import koinenlp

In [ ]:
ara= '/Users/davison/Software/almeida-semantica/db/ARA.sqlite'

In [ ]:
sql_pt= """
            SELECT
            	book_id as nr_sq_livro,
            	chapter
            	, verse
            	, text
            FROM
            	verse
            ORDER BY
            	nr_sq_livro,
            	chapter,
            	verse
            """

In [ ]:
pt_df = pd.read_sql_query(sql_pt, ConectorBD(ara).con)

In [ ]:
# del pt_at_df

In [ ]:
pt_df.head()

,nr_sq_livro,chapter,verse,text
0,1,1,1,"No princípio, criou Deus os céus e a terra."
1,1,1,2,"A terra, porém, estava sem forma e vazia; havi..."
2,1,1,3,Disse Deus: Haja luz; e houve luz.
3,1,1,4,E viu Deus que a luz era boa; e fez separação ...
4,1,1,5,"Chamou Deus à luz Dia e às trevas, Noite. Houv..."

In [ ]:
len( [vs for vs in pt_df.loc[(pt_df['nr_sq_livro'] == 1) & (pt_df['chapter'] == 3)].values] )

24

In [ ]:
# pt_df.loc[(pt_df['nr_sq_livro'] == 40) & (pt_df['chapter'] == 10)]
pt_df.query("nr_sq_livro == 1 and chapter == 49")
# pt_df.query("nr_sq_livro == 45 and chapter == 8 and verse == 4")
# pt_df.query("nr_sq_livro == 45 and chapter == 8 and verse == 4").text.values[0]

In [ ]:
vs_rng = pt_df.loc[(pt_df['nr_sq_livro'] == 46) & (pt_df['chapter'] == 15) & (pt_df['verse'] >= 1) & (pt_df['verse'] <= 172)]
vs_rng.to_csv('/Users/davison/Desktop/vs_rng.csv', index=False)
os.system('open ' + '/Users/davison/Desktop/vs_rng.csv')

0

In [ ]:
pt_df.loc[(pt_df['nr_sq_livro'] == 19) & (pt_df['chapter'] == 85) & (pt_df['verse'] == 10)].text.values[0]

'Mas agora, sem lei, se manifestou a justiça de Deus testemunhada pela lei e pelos profetas;'

In [ ]:
" ".join([ vs for vs in pt_df.loc[(pt_df['nr_sq_livro']==19) & (pt_df['chapter']==85)].text.values[10:12] ])

'Da terra brota a verdade, dos céus a justiça baixa o seu olhar. Também o SENHOR dará o que é bom, e a nossa terra produzirá o seu fruto.'

In [ ]:
sql_wd_pt = """
            SELECT
                nr_sq_livro
                , chapter
                , verse
                , text
            FROM
                pt_df
            WHERE
                text like '%ressu%'
            -- OR (text like '%essencia%')
            -- OR text like '%escritura%'
            --AND text not like '%discu%'
            --AND nr_sq_livro >= 40
            """

In [ ]:
wd_ara_query_rs = sqldf(sql_wd_pt)

In [ ]:
len(wd_ara_query_rs)

146

In [ ]:
print(wd_ara_query_rs.to_string())

In [ ]:
wd_ara_query_rs = sqldf(sql_wd_pt)
wd_ara_query_rs.to_csv('/Users/davison/Desktop/vs_rng.csv', index=False)
os.system('open ' + '/Users/davison/Desktop/vs_rng.csv')

0

In [ ]:
def export_verses_pt_wds(wd1, wd2, or_wd, nlike_wd):
    if (wd2 == None and nlike_wd == None and or_wd == None):
        sql_wd_pt = """
            SELECT
                nr_sq_livro
                , chapter
                , verse
                , text
            FROM
                pt_df
            WHERE
                text like '%{}%'
            """.format(wd1)
    elif (nlike_wd == None and or_wd == None):
        sql_wd_pt = """
            SELECT
                nr_sq_livro
                , chapter
                , verse
                , text
            FROM
                pt_df
            WHERE
                text like '%{}%' AND text like '%{}%'
            """.format(wd1, wd2)
    elif (or_wd == None and nlike_wd != None):
        sql_wd_pt = """
            SELECT
                nr_sq_livro
                , chapter
                , verse
                , text
            FROM
                pt_df
            WHERE
                text like '%{}%' AND text not like '%{}%'
            """.format(wd1, nlike_wd)
    elif (or_wd != None and nlike_wd != None):
        sql_wd_pt = """
            SELECT
                nr_sq_livro
                , chapter
                , verse
                , text
            FROM
                pt_df
            WHERE
                (text like '%{}%' OR text like '%{}%') AND text not like '%{}%'
            """.format(wd1, or_wd, nlike_wd)
    wd_ara_query_rs = sqldf(sql_wd_pt)
    wd_ara_query_rs.to_csv('/Users/davison/Desktop/vs_rng.csv', index=False)

In [ ]:
export_verses_pt_wds('batis', None, 'batiz', None)
os.system('open ' + '/Users/davison/Desktop/vs_rng.csv')

In [ ]:
# a partir daqui lxx grk, old e new testaments
# primeira parte apenas indexação por strongs

In [ ]:
sql_strongs_grk = """
            SELECT
                ltrim(number, 'G') strongs_number
                , lemma
                , xlit
                , pronounce
                , description
            FROM
                strongs
            WHERE
                substr(number, 1, 1) = 'G';
            """
strongs_grk_df = pd.read_sql_query(sql_strongs_grk, ConectorBD('/Users/davison/Software/almeida-semantica/db/strongs.sqlite').con)

In [ ]:
strongs_grk_df.head()

,strongs_number,lemma,xlit,pronounce,description
0,1,Α,A,al'-fah,of Hebrew origin; the first letter of the alph...
1,2,Ἀαρών,Aarṓn,ah-ar-ohn',"of Hebrew origin (אַהֲרוֹן); Aaron, the brothe..."
2,3,Ἀβαδδών,Abaddṓn,ab-ad-dohn',of Hebrew origin (אֲבַדּוֹן); a destroying ang...
3,4,ἀβαρής,abarḗs,ab-ar-ace',from Α (as a negative particle) and βάρος; wei...
4,5,Ἀββᾶ,Abbâ,ab-bah',of Chaldee origin (אַב); father as a vocative:...

In [ ]:
lxx_cp_vs_ok = pd.read_csv('/Users/davison/Software/almeida-semantica/lxxm_utf8_v4.csv', dtype={'strongs': 'Int32'})

/var/folders/66/v9zmf0pn5p18jnhnr4_7x2r80000gn/T/ipykernel_44925/506645314.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  lxx_cp_vs_ok = pd.read_csv('/Users/davison/Software/almeida-semantica/lxxm_utf8_v4.csv', dtype={'strongs': 'Int32'})

In [ ]:
# del df_lxx

In [ ]:
lxx_cp_vs_ok.head()

   book chapter verse part_of_speech morphology normalized_word  strongs
0     1       1     1             P-   --------              εν     1722
1     1       1     1             N-   ----DSF-            αρχη      746
2     1       1     1             V-   3AAI-S--        εποιησεν     4160
3     1       1     1             RA   ----NSM-               ο     3588
4     1       1     1             N-   ----NSM-            θεος     2316

In [ ]:
# import cltk.alphabet
# import cltk.alphabet.text_normalization
# cltk.alphabet.text_normalization.cltk_normalize(strongs_grk_df['lemma'][1])
#
# é possível fazer o alinhamento entre os versos e capítulos da lxx e lxx_utf8_v4.csv
# usando o koinenlp.normalize e acrescentando a coluna normalized_word

import koinenlp
palavra_grega = koinenlp.normalize(strongs_grk_df['lemma'][1])
df_lxx.query("normalized_word == '{}'".format(palavra_grega))

        book chapter verse part_of_speech morphology normalized_word  strongs
34426      2       4    14             N-   --------           ααρων        2
34746      2       4    27             N-   --------           ααρων        2
34771      2       4    28             N-   --------           ααρων        2
34789      2       4    29             N-   --------           ααρων        2
34799      2       4    30             N-   --------           ααρων        2
...      ...     ...   ...            ...        ...             ...      ...
282590    16      10    38             N-   --------           ααρων        2
283706    16      12    47             N-   --------           ααρων        2
319808    19      77    20             N-   --------           ααρων        2
325248    19      99     6             N-   --------           ααρων        2
464128    33       6     4             N-   --------           ααρων        2

[349 rows x 7 columns]

In [ ]:
# segunda parte, indexação por strongs e versículos
#   primeiro, dataframe lxx do csv

# exemplo sqldf
# df_query_rs = sqldf(sql_query_string)

In [ ]:
" ".join(lxx_cp_vs_ok.loc[(lxx_cp_vs_ok['book'] == 4) & (lxx_cp_vs_ok['chapter'] == 24) & (lxx_cp_vs_ok['verse'] == 14)].normalized_word.values[0:100])

'και νυν ιδου αποτρεχω εις τον τοπον μου δευρο συμβουλευσω σοι τι ποιησει ο λαος ουτος τον λαον σου επ εσχατου των ημερων'

In [ ]:
sql_vazias_lxx = "SELECT * FROM df_lxx WHERE strongs is null"

In [ ]:
lxx_vazias = sqldf(sql_vazias_lxx)

In [ ]:
len(lxx_vazias)

41725

In [ ]:
# import cltk.alphabet
# import cltk.alphabet.text_normalization
# teste_lxx_primeiros_dez = cltk.alphabet.text_normalization.cltk_normalize('greek', )

In [ ]:
# 2.2 df produto sqldf join lxx, strongs e ara_pt

In [ ]:
sql_lxx_strong_occurs = """
            SELECT distinct
                strongs_number
                , lemma
                , xlit
                , pronounce
                , description
                , book
                , df_lxx.chapter||':'||df_lxx.verse lxx_cp_vs
                , pt_df.chapter||':'||pt_df.verse ara_cp_vs
                , strongs
                , text
            FROM
                strongs_grk_df
                , lxx_cp_vs_ok as df_lxx
                , pt_df
            WHERE
                strongs_grk_df.strongs_number = df_lxx.strongs
            AND df_lxx.book = pt_df.nr_sq_livro
            AND df_lxx.chapter = pt_df.chapter
            AND df_lxx.verse = pt_df.verse
            AND df_lxx.strongs = {}
                """.format('32')

In [ ]:
grk_lxx_occs = sqldf(sql_lxx_strong_occurs)

PandaSQLException: (sqlite3.OperationalError) no such table: pt_df
[SQL:
            SELECT distinct
                strongs_number
                , lemma
                , xlit
                , pronounce
                , description
                , book
                , df_lxx.chapter||':'||df_lxx.verse lxx_cp_vs
                , pt_df.chapter||':'||pt_df.verse ara_cp_vs
                , strongs
                , text
            FROM
                strongs_grk_df
                , lxx_cp_vs_ok as df_lxx
                , pt_df
            WHERE
                strongs_grk_df.strongs_number = df_lxx.strongs
            AND df_lxx.book = pt_df.nr_sq_livro
            AND df_lxx.chapter = pt_df.chapter
            AND df_lxx.verse = pt_df.verse
            AND df_lxx.strongs = 32
                ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
len(grk_lxx_occs)

94

In [ ]:
# grk_lxx_occs = sqldf(sql_lxx_strong_occurs)
grk_lxx_occs.to_csv('/Users/davison/Desktop/vs_rng.csv', index=False)
os.system('open ' + '/Users/davison/Desktop/vs_rng.csv')

0

In [ ]:
print(grk_lxx_occs.to_string())

   strongs_number        lemma         xlit            pronounce                                                                                                                 description  book lxx_cp_vs ara_cp_vs  strongs                                                                                                                                                                                                                                                                                                                                                               text
0             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2     22:29     22:29      536                                                                                                                                                                                                                                                 Não tardarás em trazer ofertas do melhor das tuas ceifas e das tuas vinhas; o primogênito de teus filhos me darás.
1             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2     23:19     23:19      536                                                                                                                                                                                                                                         As primícias dos frutos da tua terra trarás à Casa do SENHOR, teu Deus. Não cozerás o cabrito no leite da sua própria mãe.
2             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2      25:2      25:2      536                                                                                                                                                                                                                                      Fala aos filhos de Israel que me tragam oferta; de todo homem cujo coração o mover para isso, dele recebereis a minha oferta.
3             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2      25:3      25:3      536                                                                                                                                                                                                                                                                                                      Esta é a oferta que dele recebereis: ouro, e prata, e bronze,
4             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2      35:5      35:5      536                                                                                                                                                                                                                   Tomai, do que tendes, uma oferta para o SENHOR; cada um, de coração disposto, voluntariamente a trará por oferta ao SENHOR: ouro, prata, bronze,
5             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2      36:6      36:6      536                                                                                                                                                                          Então, ordenou Moisés — e a ordem foi proclamada no arraial, dizendo: Nenhum homem ou mulher faça mais obra alguma para a oferta do santuário. Assim, o povo foi proibido de trazer mais.
6             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     2     38:24     38:24      536                                                                                                                                                                                     Todo o ouro empregado na obra, em toda a obra do santuário, a saber, o ouro da oferta, foram vinte e nove talentos e setecentos e trinta siclos, segundo o siclo do santuário.
7             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     3      2:12      2:12      536                                                                                                                                                                                                                                                       Deles, trareis ao SENHOR por oferta das primícias; todavia, não se porão sobre o altar como aroma agradável.
8             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     3     22:12     22:12      536                                                                                                                                                                                                                                                                Quando a filha do sacerdote se casar com estrangeiro, ela não comerá da oferta das coisas sagradas.
9             536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     3     23:10     23:10      536                                                                                                                                                                                          Fala aos filhos de Israel e dize-lhes: Quando entrardes na terra, que vos dou, e segardes a sua messe, então, trareis um molho das primícias da vossa messe ao sacerdote;
10            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     15:20     15:20      536                                                                                                                                                                                                                                               Das primícias da vossa farinha grossa apresentareis um bolo como oferta; como oferta da eira, assim o apresentareis.
11            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     15:21     15:21      536                                                                                                                                                                                                                                                                          Das primícias da vossa farinha grossa apresentareis ao SENHOR oferta nas vossas gerações.
12            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     18:11     18:11      536                                                                                                                                       Também isto será teu: a oferta das suas dádivas com todas as ofertas movidas dos filhos de Israel; a ti, a teus filhos e a tuas filhas contigo, dei-as por direito perpétuo; todo o que estiver limpo na tua casa as comerá.
13            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     18:12     18:12      536                                                                                                                                                                                                                                                               Todo o melhor do azeite, do mosto e dos cereais, as suas primícias que derem ao SENHOR, dei-as a ti.
14            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     18:29     18:29      536                                                                                                                                                                                                                                                        De todas as vossas dádivas apresentareis toda oferta do SENHOR: do melhor delas, a parte que lhe é sagrada.
15            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     18:30     18:30      536                                                                                                                                                                                                 Portanto, lhes dirás: Quando oferecerdes o melhor que há nos dízimos, o restante destes, como se fosse produto da eira e produto do lagar, se contará aos levitas.
16            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     18:32     18:32      536                                                                                                                                                                                                      Pelo que não levareis sobre vós o pecado, quando deles oferecerdes o melhor; e não profanareis as coisas sagradas dos filhos de Israel, para que não morrais.
17            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4      18:8      18:8      536                                                                                                                                                           Disse mais o SENHOR a Arão: Eis que eu te dei o que foi separado das minhas ofertas, com todas as coisas consagradas dos filhos de Israel; dei-as por direito perpétuo como porção a ti e a teus filhos.
18            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4     31:29     31:29      536                                                                                                                                                                                                                                                                       Da metade que lhes toca o tomareis e o dareis ao sacerdote Eleazar, para a oferta do SENHOR.
19            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     4       5:9       5:9      536                                                                                                                                                                                                                                                                 Toda oferta de todas as coisas santas dos filhos de Israel, que trouxerem ao sacerdote, será deste
20            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5     12:11     12:11      536                                                                 Então, haverá um lugar que escolherá o SENHOR, vosso Deus, para ali fazer habitar o seu nome; a esse lugar fareis chegar tudo o que vos ordeno: os vossos holocaustos, e os vossos sacrifícios, e os vossos dízimos, e a oferta das vossas mãos, e toda escolha dos vossos votos feitos ao SENHOR,
21            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5     12:17     12:17      536                                                                            Nas tuas cidades, não poderás comer o dízimo do teu cereal, nem do teu vinho, nem do teu azeite, nem os primogênitos das tuas vacas, nem das tuas ovelhas, nem nenhuma das tuas ofertas votivas, que houveres prometido, nem as tuas ofertas voluntárias, nem as ofertas das tuas mãos;
22            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5      12:6      12:6      536                                                                                                                               A esse lugar fareis chegar os vossos holocaustos, e os vossos sacrifícios, e os vossos dízimos, e a oferta das vossas mãos, e as ofertas votivas, e as ofertas voluntárias, e os primogênitos das vossas vacas e das vossas ovelhas.
23            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5      18:4      18:4      536                                                                                                                                                                                                                                                    Dar-lhe-ás as primícias do teu cereal, do teu vinho e do teu azeite e as primícias da tosquia das tuas ovelhas.
24            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5     26:10     26:10      536                                                                                                                                                                                                        Eis que, agora, trago as primícias dos frutos da terra que tu, ó SENHOR, me deste. Então, as porás perante o SENHOR, teu Deus, e te prostrarás perante ele.
25            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5      26:2      26:2      536                                                                                                                                                   tomarás das primícias de todos os frutos do solo que recolheres da terra que te dá o SENHOR, teu Deus, e as porás num cesto, e irás ao lugar que o SENHOR, teu Deus, escolher para ali fazer habitar o seu nome.
26            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     5     33:21     33:21      536                                                                                                                                                                                         E se proveu da melhor parte, porquanto ali estava escondida a porção do chefe; ele marchou adiante do povo, executou a justiça do SENHOR e os seus juízos para com Israel.
27            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     9      10:4      10:4      536                                                                                                                                                                                                                                                                                                   Eles te saudarão e te darão dois pães, que receberás da sua mão.
28            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.     9      2:29      2:29      536                                                                                              Por que pisais aos pés os meus sacrifícios e as minhas ofertas de manjares, que ordenei se me fizessem na minha morada? E, tu, por que honras a teus filhos mais do que a mim, para tu e eles vos engordardes das melhores de todas as ofertas do meu povo de Israel?
29            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.    10      1:21      1:21      536                                                                                                                                                           Montes de Gilboa, não caia sobre vós nem orvalho, nem chuva, nem haja aí campos que produzam ofertas, pois neles foi profanado o escudo dos valentes, o escudo de Saul, que jamais será ungido com óleo.
30            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.    14     31:10     31:10      536                                                                            Então, o sumo sacerdote Azarias, da casa de Zadoque, lhe respondeu: Desde que se começou a trazer à Casa do SENHOR estas ofertas, temos comido e nos temos fartado delas, e ainda há sobra em abundância; porque o SENHOR abençoou ao seu povo, e esta grande quantidade é o que sobra.
31            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.    14     31:12     31:12      536                                                                                                                                                                                         Uma vez preparados, recolheram neles fielmente as ofertas, os dízimos e as coisas consagradas; disto era intendente Conanias, o levita, e Simei, seu irmão, era o segundo.
32            536       ἀπαρχή      aparchḗ          ap-ar-khay'  from a compound of ἀπό and ἄρχομαι; a beginning of sacrifice, i.e. the (Jewish) first-fruit (figuratively):--first-fruits.    14     31:14     31:14      536                                                                                                                                                                            O levita Coré, filho de Imna e guarda da porta oriental, estava encarregado das ofertas voluntárias que se faziam a Deus, para distribuir as ofertas do SENHOR e as coisas santíssimas.

In [ ]:
# NT

In [ ]:
sbl_bd = '/Users/davison/Software/almeida-semantica/db/sbl.db'

In [ ]:
sql_sbl = "SELECT nr_sq_livro, chapter, verse, content FROM bible /*WHERE content like '%{}%'*/"

In [ ]:
sql_sbl = "SELECT nr_sq_livro, chapter, verse, word, word_nr FROM words"

In [ ]:
sql_sbl = "SELECT * FROM words"

In [ ]:
gnt_df = pd.read_sql_query(sql_sbl, ConectorBD(sbl_bd).con)

In [ ]:
minha_palavra = koinenlp.normalize(gnt_df.loc[(gnt_df['nr_sq_livro'] == 58) & (gnt_df['chapter'] == 2) & (gnt_df['verse'] == 5) & (gnt_df['word_nr'] == 4)].lemma.values[0])

In [ ]:
minha_palavra

'υποτασσω'

In [ ]:
lxx_cp_vs_ok.query("normalized_word == '{}'".format(minha_palavra))

Empty DataFrame
Columns: [book, chapter, verse, part_of_speech, morphology, normalized_word, strongs]
Index: []

In [ ]:
print(gnt_df.loc[0].to_string())

nr_sq_livro                                                   40
chapter                                                        1
verse                                                          1
content        <verse num="1">\n<w pos="N-" morph="----NSF-" ...

In [ ]:
sql_strongs_gnt = """
            SELECT
                gnt_df.nr_sq_livro
                , gnt_df.chapter
                , gnt_df.verse
                --, content
                , pt_df.text
            FROM
                gnt_df
                , pt_df
            WHERE
                gnt_df.nr_sq_livro = pt_df.nr_sq_livro
            AND gnt_df.chapter = pt_df.chapter
            AND gnt_df.verse = pt_df.verse
            AND content like '%{}%'
            """.format('0386')

In [ ]:
gnt_by_strongs = sqldf(sql_strongs_gnt)

In [ ]:
print(gnt_by_strongs.to_string())

     nr_sq_livro  chapter  verse                                                                                                                                                                                                                                                  text
0             40        4     12                                                                                                                                                                                Ouvindo, porém, Jesus que João fora preso, retirou-se para a Galileia;
1             40        4     13                                                                                                                                                    e, deixando Nazaré, foi morar em Cafarnaum, situada à beira-mar, nos confins de Zebulom e Naftali;
2             40        5     25                                                          Entra em acordo sem demora com o teu adversário, enquanto estás com ele a caminho, para que o adversário não te entregue ao juiz, o juiz, ao oficial de justiça, e sejas recolhido à prisão.
3             40       10      4                                                                                                                                                                                            Simão, o Zelote, e Judas Iscariotes, que foi quem o traiu.
4             40       10     17                                                                                                                                                   E acautelai-vos dos homens; porque vos entregarão aos tribunais e vos açoitarão nas suas sinagogas;
5             40       10     19                                                                                                               E, quando vos entregarem, não cuideis em como ou o que haveis de falar, porque, naquela hora, vos será concedido o que haveis de dizer,
6             40       10     21                                                                                                                       Um irmão entregará à morte outro irmão, e o pai, ao filho; filhos haverá que se levantarão contra os progenitores e os matarão.
7             40       11     27                                                                                              Tudo me foi entregue por meu Pai. Ninguém conhece o Filho, senão o Pai; e ninguém conhece o Pai, senão o Filho e aquele a quem o Filho o quiser revelar.
8             40       15      2                                                                                                                                                  Por que transgridem os teus discípulos a tradição dos anciãos? Pois não lavam as mãos, quando comem.
9             40       15      3                                                                                                                                         Ele, porém, lhes respondeu: Por que transgredis vós também o mandamento de Deus, por causa da vossa tradição?
10            40       15      6                                                                                                                                    esse jamais honrará a seu pai ou a sua mãe. E, assim, invalidastes a palavra de Deus, por causa da vossa tradição.
11            40       17     22                                                                                                                                             Reunidos eles na Galileia, disse-lhes Jesus: O Filho do Homem está para ser entregue nas mãos dos homens;
12            40       18     34                                                                                                                                                            E, indignando-se, o seu senhor o entregou aos verdugos, até que lhe pagasse toda a dívida.
13            40       20     18                                                                                                                 Eis que subimos para Jerusalém, e o Filho do Homem será entregue aos principais sacerdotes e aos escribas. Eles o condenarão à morte.
14            40       20     19                                                                                                                                            E o entregarão aos gentios para ser escarnecido, açoitado e crucificado; mas, ao terceiro dia, ressurgirá.
15            40       22     23                                                                                                                                                Naquele dia, aproximaram-se dele alguns saduceus, que dizem não haver ressurreição, e lhe perguntaram:
16            40       22     28                                                                                                                                                               Portanto, na ressurreição, de qual dos sete será ela esposa? Porque todos a desposaram.
17            40       22     30                                                                                                                                                        Porque, na ressurreição, nem casam, nem se dão em casamento; são, porém, como os anjos no céu.
18            40       22     31                                                                                                                                                                         E, quanto à ressurreição dos mortos, não tendes lido o que Deus vos declarou:
19            40       24      9                                                                                                                                                   Então, sereis atribulados, e vos matarão. Sereis odiados de todas as nações, por causa do meu nome.
20            40       24     10                                                                                                                                                                             Nesse tempo, muitos hão de se escandalizar, trair e odiar uns aos outros;
21            40       25     14                                                                                                                                                Pois será como um homem que, ausentando-se do país, chamou os seus servos e lhes confiou os seus bens.
22            40       25     20                                                                                  Então, aproximando-se o que recebera cinco talentos, entregou outros cinco, dizendo: Senhor, confiaste-me cinco talentos; eis aqui outros cinco talentos que ganhei.
23            40       25     22                                                                                                                   E, aproximando-se também o que recebera dois talentos, disse: Senhor, dois talentos me confiaste; aqui tens outros dois que ganhei.
24            40       26      2                                                                                                                                         Sabeis que, daqui a dois dias, celebrar-se-á a Páscoa; e o Filho do Homem será entregue para ser crucificado.
25            40       26     15                                                                                                                                                                      Que me quereis dar, e eu vo-lo entregarei? E pagaram-lhe trinta moedas de prata.
26            40       26     16                                                                                                                                                                              E, desse momento em diante, buscava ele uma boa ocasião para o entregar.
27            40       26     21                                                                                                                                                                  E, enquanto comiam, declarou Jesus: Em verdade vos digo que um dentre vós me trairá.
28            40       26     23                                                                                                                                                                                    E ele respondeu: O que mete comigo a mão no prato, esse me trairá.
29            40       26     24                                                                                  O Filho do Homem vai, como está escrito a seu respeito, mas ai daquele por intermédio de quem o Filho do Homem está sendo traído! Melhor lhe fora não haver nascido!
30            40       26     25                                                                                                                                                      Então, Judas, que o traía, perguntou: Acaso, sou eu, Mestre? Respondeu-lhe Jesus: Tu o disseste.
31            40       26     45                                                                                      Então, voltou para os discípulos e lhes disse: Ainda dormis e repousais! Eis que é chegada a hora, e o Filho do Homem está sendo entregue nas mãos de pecadores.
32            40       26     46                                                                                                                                                                                                   Levantai-vos, vamos! Eis que o traidor se aproxima.
33            40       26     48                                                                                                                                                                Ora, o traidor lhes tinha dado este sinal: Aquele a quem eu beijar, é esse; prendei-o.
34            40       27      2                                                                                                                                                                                      e, amarrando-o, levaram-no e o entregaram ao governador Pilatos.
35            40       27      3                                                                                  Então, Judas, o que o traiu, vendo que Jesus fora condenado, tocado de remorso, devolveu as trinta moedas de prata aos principais sacerdotes e aos anciãos, dizendo:
36            40       27      4                                                                                                                                                           Pequei, traindo sangue inocente. Eles, porém, responderam: Que nos importa? Isso é contigo.
37            40       27     18                                                                                                                                                                                                     Porque sabia que, por inveja, o tinham entregado.
38            40       27     26                                                                                                                                                 Então, Pilatos lhes soltou Barrabás; e, após haver açoitado a Jesus, entregou-o para ser crucificado.
39            41        1     14                                                                                                                                                               Depois de João ter sido preso, foi Jesus para a Galileia, pregando o evangelho de Deus,
40            41        3     19                                                                                                                                                                                                             e Judas Iscariotes, que foi quem o traiu.
41            41        4     29                                                                                                                                                                 E, quando o fruto já está maduro, logo se lhe mete a foice, porque é chegada a ceifa.
42            41        7      3                                                                                                                                   (pois os fariseus e todos os judeus, observando a tradição dos anciãos, não comem sem lavar cuidadosamente as mãos;
43            41        7      5                                                                                          interpelaram-no os fariseus e os escribas: Por que não andam os teus discípulos de conformidade com a tradição dos anciãos, mas comem com as mãos por lavar?
44            41        7      8                                                                                                                                                                                  Negligenciando o mandamento de Deus, guardais a tradição dos homens.
45            41        7      9                                                                                                                                               E disse-lhes ainda: Jeitosamente rejeitais o preceito de Deus para guardardes a vossa própria tradição.
46            41        7     13                                                                                                                   invalidando a palavra de Deus pela vossa própria tradição, que vós mesmos transmitistes; e fazeis muitas outras coisas semelhantes.
47            41        9     31                                                                                   porque ensinava os seus discípulos e lhes dizia: O Filho do Homem será entregue nas mãos dos homens, e o matarão; mas, três dias depois da sua morte, ressuscitará.
48            41       10     33                                                                                          Eis que subimos para Jerusalém, e o Filho do Homem será entregue aos principais sacerdotes e aos escribas; condená-lo-ão à morte e o entregarão aos gentios;
49            41       12     18                                                                                                                                                 Então, os saduceus, que dizem não haver ressurreição, aproximaram-se dele e lhe perguntaram, dizendo:
50            41       12     23                                                                                                                                             Na ressurreição, quando eles ressuscitarem, de qual deles será ela a esposa? Porque os sete a desposaram.
51            41       13      9                                             Estai vós de sobreaviso, porque vos entregarão aos tribunais e às sinagogas; sereis açoitados, e vos farão comparecer à presença de governadores e reis, por minha causa, para lhes servir de testemunho.
52            41       13     11                                              Quando, pois, vos levarem e vos entregarem, não vos preocupeis com o que haveis de dizer, mas o que vos for concedido naquela hora, isso falai; porque não sois vós os que falais, mas o Espírito Santo.
53            41       13     12                                                                                                                       Um irmão entregará à morte outro irmão, e o pai, ao filho; filhos haverá que se levantarão contra os progenitores e os matarão.
54            41       14     10                                                                                                                                                      E Judas Iscariotes, um dos doze, foi ter com os principais sacerdotes, para lhes entregar Jesus.
55            41       14     11                                                                                                                               Eles, ouvindo-o, alegraram-se e lhe prometeram dinheiro; nesse meio tempo, buscava ele uma boa ocasião para o entregar.
56            41       14     18                                                                                                                                     Quando estavam à mesa e comiam, disse Jesus: Em verdade vos digo que um dentre vós, o que come comigo, me trairá.
57            41       14     21                                                                             Pois o Filho do Homem vai, como está escrito a seu respeito; mas ai daquele por intermédio de quem o Filho do Homem está sendo traído! Melhor lhe fora não haver nascido!
58            41       14     41                                                                                                   E veio pela terceira vez e disse-lhes: Ainda dormis e repousais! Basta! Chegou a hora; o Filho do Homem está sendo entregue nas mãos dos pecadores.
59            41       14     42                                                                                                                                                                                                   Levantai-vos, vamos! Eis que o traidor se aproxima.
60            41       14     44                                                                                                                                        Ora, o traidor tinha-lhes dado esta senha: Aquele a quem eu beijar, é esse; prendei-o e levai-o com segurança.
61            41       15      1                                                                              Logo pela manhã, entraram em conselho os principais sacerdotes com os anciãos, os escribas e todo o Sinédrio; e, amarrando a Jesus, levaram-no e o entregaram a Pilatos.
62            41       15      6                                                                                                                                                      Ora, por ocasião da festa, era costume soltar ao povo um dos presos, qualquer que eles pedissem.
63            41       15     10                                                                                                                                                                   Pois ele bem percebia que por inveja os principais sacerdotes lho haviam entregado.
64            41       15     15                                                                                                                 Então, Pilatos, querendo contentar a multidão, soltou-lhes Barrabás; e, após mandar açoitar a Jesus, entregou-o para ser crucificado.
65            42        1      2                                                                                                                                           conforme nos transmitiram os que desde o princípio foram deles testemunhas oculares e ministros da palavra,
66            42        2     34                                                                      Simeão os abençoou e disse a Maria, mãe do menino: Eis que este menino está destinado tanto para ruína como para levantamento de muitos em Israel e para ser alvo de contradição
67            42        4      6                                                                                                                     Disse-lhe o diabo: Dar-te-ei toda esta autoridade e a glória destes reinos, porque ela me foi entregue, e a dou a quem eu quiser.
68            42        5     26                                                                                                                                                     Todos ficaram atônitos, davam glória a Deus e, possuídos de temor, diziam: Hoje, vimos prodígios.
69            42        9     44                                                                                                                                          Fixai nos vossos ouvidos as seguintes palavras: o Filho do Homem está para ser entregue nas mãos dos homens.

In [ ]:
lxx = '/Users/davison/Software/almeida-semantica/db/lxx.db'

In [ ]:
lxx_cp_vs_ok

In [ ]:
lxx_db = pd.read_sql_query("select * from content", ConectorBD(lxx).con)
# lxx_db.query('book_name == "Gen"').word_root

In [ ]:
lxx_db.query('book_name == "Gen"').head()

,id,src_name,book_name,chapter_nr,verse_nr,word_nr,word,word_root,morphology
160235,160236,01.Gen.1.mlxx,Gen,1,1,1,ἐν,ἐν,P
160236,160237,01.Gen.1.mlxx,Gen,1,1,2,ἀρχῇ,ἀρχή,N1 DSF
160237,160238,01.Gen.1.mlxx,Gen,1,1,3,ἐποίησεν,ποιέω,VAI AAI3S
160238,160239,01.Gen.1.mlxx,Gen,1,1,4,ὁ,ὁ,RA NSM
160239,160240,01.Gen.1.mlxx,Gen,1,1,5,θεὸς,θεός,N2 NSM

In [ ]:
lxx_cp_vs_ok['word'] = None

In [ ]:
for idx in range(len(lxx_cp_vs_ok)):
    if lxx_cp_vs_ok['normalized_word'] == koinenlp.normalize(lxx_db['word']

In [ ]:
lxx_df = pd.read_sql_query("""
                           SELECT
                                src_name
                                , book_name
                                , chapter_nr
                                , verse_nr
                                , group_concat(word, ' ') as verse_text
                           FROM
                                content
                           group by
                                src_name
                                , book_name
                                , chapter_nr
                                , verse_nr
                           """
                           , ConectorBD(lxx).con)

In [ ]:
strongs_df = pd.read_sql_query("""
                                SELECT
                                    *
                                FROM
                                    strongs
                                """, ConectorBD('/Users/davison/Software/almeida-semantica/db/strongs.sqlite').con)

In [ ]:
strongs_df.head()

,number,lemma,xlit,pronounce,description
0,H1,אָב,ʼâb,awb,"a primitive word; father, in a literal and imm..."
1,H2,אַב,ʼab,ab,(Aramaic) corresponding to אָב; {father}; father.
2,H3,אֵב,ʼêb,abe,from the same as אָבִיב; a green plant; greenn...
3,H4,אֵב,ʼêb,abe,(Aramaic) corresponding to אֵב; {a green plant...
4,H5,אֲבַגְתָא,ʼĂbagthâʼ,ab-ag-thaw',"of foreign origin; Abagtha, a eunuch of Xerxes..."

In [ ]:
strongs_df['word_root'] = [koinenlp.normalize(i) for i in strongs_df.lemma]

In [ ]:
strongs_df.word_root

0              אב
1              אב
2              אב
3              אב
4           אבגתא
           ...
14293        ωστε
14294       ωτιον
14295     ωφελεια
14296      ωφελεω
14297    ωφελιμοσ
Name: word_root, Length: 14298, dtype: object

In [ ]:
palavra_lxx_por_indice = koinenlp.normalize(lxx_db.query('book_name == "Gen"').word_root.values[3])
# wd_gnt_by_vs =
# palavra_lxx_por_indice = lxx_db.query('book_name == "Gen"').word_root.values[1]
print(palavra_lxx_por_indice)
strong_por_lxx_word_root = strongs_df.query('word_root == "{}"'.format(palavra_lxx_por_indice))

ο

In [ ]:
strong_por_lxx_word_root

,number,lemma,xlit,pronounce,description,word_root
12261,G3588,ὁ,ho,to,the definite article; the (sometimes to be sup...,ο

In [ ]:
lxx_df.head()

,src_name,book_name,chapter_nr,verse_nr,verse_text
0,01.Gen.1.mlxx,Gen,1,1,ἐν ἀρχῇ ἐποίησεν ὁ θεὸς τὸν οὐρανὸν καὶ τὴν γῆν
1,01.Gen.1.mlxx,Gen,1,2,ἡ δὲ γῆ ἦν ἀόρατος καὶ ἀκατασκεύαστος καὶ σκότ...
2,01.Gen.1.mlxx,Gen,1,3,καὶ εἶπεν ὁ θεός γενηθήτω φῶς καὶ ἐγένετο φῶς
3,01.Gen.1.mlxx,Gen,1,4,καὶ εἶδεν ὁ θεὸς τὸ φῶς ὅτι καλόν καὶ διεχώρισ...
4,01.Gen.1.mlxx,Gen,1,5,καὶ ἐκάλεσεν ὁ θεὸς τὸ φῶς ἡμέραν καὶ τὸ σκότο...

In [ ]:
sql_lxx_strongs = """
                    SELECT
                        l.src_name
                        , l.book_name
                        , l.chapter_nr
                        , l.verse_nr
                        , l.word
                        , l.word_root
                        , s.number
                        --, s.strongs_def
                    FROM
                        lxx_db l
                    LEFT JOIN
                        strongs_df s on l.word_root = s.lemma
                    WHERE
                        --l.word like '%χαρακτὴρ%'
                        s.number like '3776'
                    """

In [ ]:
lxx_strongs_df = sqldf(sql_lxx_strongs)

In [ ]:
len(lxx_strongs_df)

0

In [ ]:
lxx_strongs_df.head()

      src_name book_name chapter_nr verse_nr      word word_root number
0  04.Lev.mlxx       Lev         13       28  χαρακτὴρ  χαρακτήρ   None

In [ ]:
lxx_df.head()

,src_name,book_name,chapter_nr,verse_nr,verse_text
0,01.Gen.1.mlxx,Gen,1,1,ἐν ἀρχῇ ἐποίησεν ὁ θεὸς τὸν οὐρανὸν καὶ τὴν γῆν
1,01.Gen.1.mlxx,Gen,1,2,ἡ δὲ γῆ ἦν ἀόρατος καὶ ἀκατασκεύαστος καὶ σκότ...
2,01.Gen.1.mlxx,Gen,1,3,καὶ εἶπεν ὁ θεός γενηθήτω φῶς καὶ ἐγένετο φῶς
3,01.Gen.1.mlxx,Gen,1,4,καὶ εἶδεν ὁ θεὸς τὸ φῶς ὅτι καλόν καὶ διεχώρισ...
4,01.Gen.1.mlxx,Gen,1,5,καὶ ἐκάλεσεν ὁ θεὸς τὸ φῶς ἡμέραν καὶ τὸ σκότο...

In [ ]:
gnt = '/Users/davison/Software/almeida-semantica/db/sbl.db'

In [ ]:
gnt_df = pd.read_sql_query("SELECT * FROM words", ConectorBD(gnt).con)

In [ ]:
gnt_df_gk_wd = pd.read_sql_query("SELECT * FROM words WHERE strongs like '3776'", ConectorBD(gnt).con)

In [ ]:
gnt_grouped_df = pd.read_sql_query("""
                           SELECT
                                nr_sq_livro
                                , chapter
                                , verse
                                , group_concat(word, ' ') as words
                                , group_concat(lemma, ' ') as lemmas
                                , group_concat(strongs, ' ') as strongs
                            FROM
                                words
                            group by
                                nr_sq_livro
                                , chapter
                                , verse""", ConectorBD(gnt).con)

In [ ]:
gnt_df_gk_wd.head()

Empty DataFrame
Columns: [book, chapter, verse, pos, morph, lemma, strongs, word, punct, word_nr, nr_sq_livro]
Index: []

In [ ]:
gnt_df.loc[(gnt_df['nr_sq_livro'] == 45) & (gnt_df['chapter'] == 10) & (gnt_df['verse'] == 9)]

,book,chapter,verse,pos,morph,lemma,strongs,word,punct,word_nr,nr_sq_livro
87305,Rom,10,9,C-,--------,ὅτι,03754,ὅτι,,1,45
87306,Rom,10,9,C-,--------,ἐάν,01437,ἐὰν,⸀,2,45
87307,Rom,10,9,V-,2AAS-S--,ὁμολογέω,03670,ὁμολογήσῃς,,3,45
87308,Rom,10,9,P-,--------,ἐν,01722,ἐν,,4,45
87309,Rom,10,9,RA,----DSN-,ὁ,03588,τῷ,,5,45
87310,Rom,10,9,N-,----DSN-,στόμα,04750,στόματί,⸀,6,45
87311,Rom,10,9,RP,----GS--,σύ,04771,σου,,7,45
87312,Rom,10,9,N-,----ASM-,κύριος,02962,κύριον,,8,45
87313,Rom,10,9,N-,----ASM-,Ἰησοῦς,02424,Ἰησοῦν,",",9,45
87314,Rom,10,9,C-,--------,καί,02532,καὶ,,10,45
87315,Rom,10,9,V-,2AAS-S--,πιστεύω,04100,πιστεύσῃς,,11,45
87316,Rom,10,9,P-,--------,ἐν,01722,ἐν,,12,45
87317,Rom,10,9,RA,----DSF-,ὁ,03588,τῇ,,13,45
87318,Rom,10,9,N-,----DSF-,καρδία,02588,καρδίᾳ,,14,45
87319,Rom,10,9,RP,----GS--,σύ,04771,σου,,15,45
87320,Rom,10,9,C-,--------,ὅτι,03754,ὅτι,,16,45
87321,Rom,10,9,RA,----NSM-,ὁ,03588,ὁ,,17,45
87322,Rom,10,9,N-,----NSM-,θεός,02316,θεὸς,,18,45
87323,Rom,10,9,RP,----ASM-,αὐτός,00846,αὐτὸν,,19,45
87324,Rom,10,9,V-,3AAI-S--,ἐγείρω,01453,ἤγειρεν,,20,45
87325,Rom,10,9,P-,--------,ἐκ,01537,ἐκ,,21,45
87326,Rom,10,9,A-,----GPM-,νεκρός,03498,νεκρῶν,",",22,45
87327,Rom,10,9,V-,2FPI-S--,σῴζω,None,σωθήσῃ,·\n,23,45

In [ ]:
gnt_grouped_df.values[0]

40

In [ ]:
# palavra_grega = koinenlp.normalize(strongs_grk_df['lemma'][1])
import re
palavra_grega = koinenlp.normalize(gnt_df.loc[(gnt_df['nr_sq_livro'] == 45) & (gnt_df['chapter'] == 10) & (gnt_df['verse'] == 9)].values[2][5])
print(palavra_grega)
df_query = lxx_df["verse_text"].str.contains(palavra_grega, flags=re.IGNORECASE, regex=True)
df_query.value_counts()

ομολογεω

verse_text
False    30607
Name: count, dtype: int64

In [ ]:
gnt_grouped_df.loc[(gnt_grouped_df['nr_sq_livro'] == 40) & (gnt_grouped_df['chapter'] == 19) & (gnt_grouped_df['verse'] == 16)]

,nr_sq_livro,chapter,verse,words,lemmas,strongs
631,40,19,16,Καὶ ἰδοὺ εἷς προσελθὼν αὐτῷ εἶπεν Διδάσκαλε τί...,καί ἰδού εἷς προσέρχομαι αὐτός λέγω διδάσκαλος...,02532 02400 01520 04334 00846 03004 01320 0510...

In [ ]:
sql_lxx_expr ='''
                SELECT
                    lxx.book_name
                    , lxx.chapter_nr
                    , lxx.verse_nr
                FROM
                    lxx_df lxx
                WHERE
                    lxx.verse_text like '%ὁμοούσιος%'
                '''

In [ ]:
sql_lxx_strongs_expr ='''
                        SELECT
                            lxx.book_name
                            , lxx.chapter_nr
                            , lxx.verse_nr
                        FROM
                            lxx_df lxx
                        WHERE
                            lxx.verse_text like '%ἀγαπῶμεν%' and lxx.verse_text like '%ὁμοούσιος%'
                        '''

In [ ]:
occs_lxx_expr = sqldf(sql_lxx_expr)

In [ ]:
len(occs_lxx_expr)

0

In [ ]:
occs_lxx_expr.head()

Empty DataFrame
Columns: [book_name, chapter_nr, verse_nr]
Index: []

In [ ]:
# strongs_df_def = pd.read_sql_query("""SELECT * FROM

In [ ]:
txt = [t for t in gnt_df.loc[(gnt_df['nr_sq_livro'] == 58) & (gnt_df['chapter'] == 1) & (gnt_df['verse'] == 3)].values]

In [ ]:
for i in txt:
    print(i[5], i[6])

ὅς 03739
εἰμί 01510
ἀπαύγασμα 00541
ὁ 03588
δόξα 01391
καί 02532
χαρακτήρ 05481
ὁ 03588
ὑπόστασις 05287
αὐτός 00846
φέρω 05342
τέ 05037
ὁ 03588
πᾶς 03956
ὁ 03588
ῥῆμα 04487
ὁ 03588
δύναμις 01411
διά 01223
ἑαυτοῦ 01438
καθαρισμός 02512
ὁ 03588
ἁμαρτία 00266
ποιέω 04160
καθίζω 02523
ἐν 01722
δεξιός 01188
ὁ 03588
μεγαλωσύνη 03172
ἐν 01722
ὑψηλός 05308

In [ ]:
import pandas as pd
import sqlite3

# Conecte ao banco e extraia os versículos
con = sqlite3.connect('/Users/davison/Software/almeida-semantica/db/ARA.sqlite')
pt_df = pd.read_sql_query("""
    SELECT book_id, chapter, verse, text
    FROM verse
    ORDER BY book_id, chapter, verse
""", con)

In [ ]:
pt_df.head()

   book_id  chapter  verse                                               text
0        1        1      1        No princípio, criou Deus os céus e a terra.
1        1        1      2  A terra, porém, estava sem forma e vazia; havi...
2        1        1      3                 Disse Deus: Haja luz; e houve luz.
3        1        1      4  E viu Deus que a luz era boa; e fez separação ...
4        1        1      5  Chamou Deus à luz Dia e às trevas, Noite. Houv...

In [ ]:
lxx_df = pd.read_csv('/Users/davison/Software/almeida-semantica/lxxm_utf8_v4.csv')
# Certifique-se de que as colunas relevantes são: book, chapter, verse, text

/var/folders/66/v9zmf0pn5p18jnhnr4_7x2r80000gn/T/ipykernel_26420/3385805065.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  lxx_df = pd.read_csv('/Users/davison/Software/almeida-semantica/lxxm_utf8_v4.csv')

In [ ]:
lxx_df

        book chapter verse part_of_speech morphology normalized_word  strongs
0          1       1     1             P-   --------              εν   1722.0
1          1       1     1             N-   ----DSF-            αρχη    746.0
2          1       1     1             V-   3AAI-S--        εποιησεν   4160.0
3          1       1     1             RA   ----NSM-               ο   3588.0
4          1       1     1             N-   ----NSM-            θεος   2316.0
...      ...     ...   ...            ...        ...             ...      ...
475395    39       4     4             RA   ----ASM-             τον   3588.0
475396    39       4     4             N-   --------          ισραηλ   2474.0
475397    39       4     4             N-   ----APN-     προσταγματα      NaN
475398    39       4     4             C-   --------             και   2532.0
475399    39       4     4             N-   ----APN-      δικαιωματα   1345.0

[475400 rows x 7 columns]

In [ ]:
lxx_df = sqldf("""
                SELECT
                    book book_id
                    , chapter
                    , verse
                    , group_concat(word, ' ') as text
                FROM
                    lxx_df
                group by
                    src_name
                    , book_name
                    , chapter_nr
                    , verse_nr
                """)

In [ ]:
con_gnt = sqlite3.connect('/Users/davison/Software/almeida-semantica/db/sbl.db')
gnt_df = pd.read_sql_query("""
    SELECT nr_sq_livro as book, chapter, verse, group_concat(word, ' ') as text
    FROM words
    GROUP BY nr_sq_livro, chapter, verse
    ORDER BY nr_sq_livro, chapter, verse
""", con_gnt)