In [3]:
import sys
sys.path.append('/Users/davison/Software/almeida-semantica')
from src.ConectorBD import *
import cltk as cltk
import pandas as pd
from pandasql import sqldf
import os

In [ ]:
lxx = '/Users/davison/Software/almeida-semantica/db/lxx.db'

In [4]:
lxx_df = pd.read_sql_query("""
                           SELECT 
                                src_name
                                , book_name
                                , chapter_nr
                                , verse_nr
                                , group_concat(word, ' ') as verse_text
                           FROM 
                                content
                           group by 
                                src_name
                                , book_name
                                , chapter_nr
                                , verse_nr
                           """
                           , ConectorBD(lxx).con)

In [18]:
lxx_db = pd.read_sql_query("select * from content", ConectorBD(lxx).con)

In [17]:
strongs_df = pd.read_sql_query("""
                                SELECT
                                    *   
                                FROM
                                    strongs
                                """, ConectorBD('/Users/davison/Software/almeida-semantica/db/strongs.sqlite').con)

In [ ]:
sql_lxx_strongs = """
                    SELECT
                        l.src_name
                        , l.book_name
                        , l.chapter_nr
                        , l.verse_nr
                        , l.word
                        , l.word_root
                        , s.number
                        --, s.strongs_def
                    FROM
                        lxx_db l
                    INNER JOIN    
                        strongs_df s on l.word_root = s.lemma
                    WHERE
                        l.word_root like '%ἀρχή%'
                    """

In [24]:
lxx_strongs_df = sqldf(sql_lxx_strongs)

In [26]:
lxx_strongs_df.head()

Empty DataFrame
Columns: [src_name, book_name, chapter_nr, verse_nr, word, word_root, number]
Index: []

In [5]:
lxx_df.head()

,src_name,book_name,chapter_nr,verse_nr,verse_text
0,01.Gen.1.mlxx,Gen,1,1,ἐν ἀρχῇ ἐποίησεν ὁ θεὸς τὸν οὐρανὸν καὶ τὴν γῆν
1,01.Gen.1.mlxx,Gen,1,2,ἡ δὲ γῆ ἦν ἀόρατος καὶ ἀκατασκεύαστος καὶ σκότ...
2,01.Gen.1.mlxx,Gen,1,3,καὶ εἶπεν ὁ θεός γενηθήτω φῶς καὶ ἐγένετο φῶς
3,01.Gen.1.mlxx,Gen,1,4,καὶ εἶδεν ὁ θεὸς τὸ φῶς ὅτι καλόν καὶ διεχώρισ...
4,01.Gen.1.mlxx,Gen,1,5,καὶ ἐκάλεσεν ὁ θεὸς τὸ φῶς ἡμέραν καὶ τὸ σκότο...

In [6]:
gnt = '/Users/davison/Software/almeida-semantica/db/sbl.db'

In [7]:
gnt_df = pd.read_sql_query("SELECT * FROM words", ConectorBD(gnt).con)

In [8]:
gnt_grouped_df = pd.read_sql_query("""
                           SELECT
                                nr_sq_livro
                                , chapter
                                , verse
                                , group_concat(word, ' ') as words
                                , group_concat(lemma, ' ') as lemmas
                                , group_concat(strongs, ' ') as strongs
                            FROM 
                                words
                            group by
                                nr_sq_livro
                                , chapter
                                , verse""", ConectorBD(gnt).con)

In [9]:
gnt_df.head()

,book,chapter,verse,pos,morph,lemma,strongs,word,punct,word_nr,nr_sq_livro
0,Matt,1,1,N-,----NSF-,βίβλος,00976,Βίβλος,,1,40
1,Matt,1,1,N-,----GSF-,γένεσις,01078,γενέσεως,,2,40
2,Matt,1,1,N-,----GSM-,Ἰησοῦς,02424,Ἰησοῦ,,3,40
3,Matt,1,1,N-,----GSM-,Χριστός,05547,χριστοῦ,,4,40
4,Matt,1,1,N-,----GSM-,υἱός,05207,υἱοῦ,,5,40

In [19]:
gnt_df.loc[gnt_df['nr_sq_livro'] == 43]

,book,chapter,verse,pos,morph,lemma,strongs,word,punct,word_nr,nr_sq_livro
49064,John,1,1,P-,--------,ἐν,01722,Ἐν,,1,43
49065,John,1,1,N-,----DSF-,ἀρχή,00746,ἀρχῇ,,2,43
49066,John,1,1,V-,3IAI-S--,εἰμί,01510,ἦν,,3,43
49067,John,1,1,RA,----NSM-,ὁ,03588,ὁ,,4,43
49068,John,1,1,N-,----NSM-,λόγος,03056,λόγος,",",5,43
...,...,...,...,...,...,...,...,...,...,...,...
64497,John,21,25,N-,----ASM-,κόσμος,02889,κόσμον,⸀,19,43
64498,John,21,25,V-,-FAN----,χωρέω,05562,χωρήσειν,,20,43
64499,John,21,25,RA,----APN-,ὁ,03588,τὰ,,21,43
64500,John,21,25,V-,-PPPAPN-,γράφω,01125,γραφόμενα,⸀,22,43
64501,John,21,25,N-,----APN-,βιβλίον,00975,βιβλία,.\n,23,43

In [10]:
gnt_grouped_df.head()

,nr_sq_livro,chapter,verse,words,lemmas,strongs
0,40,1,1,Βίβλος γενέσεως Ἰησοῦ χριστοῦ υἱοῦ Δαυὶδ υἱοῦ ...,βίβλος γένεσις Ἰησοῦς Χριστός υἱός Δαυίδ υἱός ...,00976 01078 02424 05547 05207 None 05207 00011
1,40,1,2,Ἀβραὰμ ἐγέννησεν τὸν Ἰσαάκ Ἰσαὰκ δὲ ἐγέννησεν ...,Ἀβραάμ γεννάω ὁ Ἰσαάκ Ἰσαάκ δέ γεννάω ὁ Ἰακώβ ...,00011 01080 03588 02464 02464 01161 01080 0358...
2,40,1,3,Ἰούδας δὲ ἐγέννησεν τὸν Φαρὲς καὶ τὸν Ζάρα ἐκ ...,Ἰούδας δέ γεννάω ὁ Φαρές καί ὁ Ζάρα ἐκ ὁ Θαμάρ...,02455 01161 01080 03588 None 02532 03588 None ...
3,40,1,4,Ἀρὰμ δὲ ἐγέννησεν τὸν Ἀμιναδάβ Ἀμιναδὰβ δὲ ἐγέ...,Ἀράμ δέ γεννάω ὁ Ἀμιναδάβ Ἀμιναδάβ δέ γεννάω ὁ...,00689 01161 01080 03588 00284 00284 01161 0108...
4,40,1,5,Σαλμὼν δὲ ἐγέννησεν τὸν Βόες ἐκ τῆς Ῥαχάβ Βόες...,Σαλμών δέ γεννάω ὁ Βόες ἐκ ὁ Ῥαχάβ Βόες δέ γεν...,04533 01161 01080 03588 None 01537 03588 04477...

In [11]:
gnt_df.loc[(gnt_df['nr_sq_livro'] == 62) & (gnt_df['chapter'] == 5) & (gnt_df['verse'] == 2)]

,book,chapter,verse,pos,morph,lemma,strongs,word,punct,word_nr,nr_sq_livro
126396,1John,5,2,P-,--------,ἐν,01722,ἐν,,1,62
126397,1John,5,2,RD,----DSN-,οὗτος,03778,τούτῳ,,2,62
126398,1John,5,2,V-,1PAI-P--,γινώσκω,01097,γινώσκομεν,,3,62
126399,1John,5,2,C-,--------,ὅτι,03754,ὅτι,,4,62
126400,1John,5,2,V-,1PAI-P--,ἀγαπάω,00025,ἀγαπῶμεν,,5,62
126401,1John,5,2,RA,----APN-,ὁ,03588,τὰ,,6,62
126402,1John,5,2,N-,----APN-,τέκνον,05043,τέκνα,,7,62
126403,1John,5,2,RA,----GSM-,ὁ,03588,τοῦ,,8,62
126404,1John,5,2,N-,----GSM-,θεός,02316,θεοῦ,",",9,62
126405,1John,5,2,C-,--------,ὅταν,03752,ὅταν,,10,62
126406,1John,5,2,RA,----ASM-,ὁ,03588,τὸν,,11,62
126407,1John,5,2,N-,----ASM-,θεός,02316,θεὸν,,12,62
126408,1John,5,2,V-,1PAS-P--,ἀγαπάω,00025,ἀγαπῶμεν,,13,62
126409,1John,5,2,C-,--------,καί,02532,καὶ,,14,62
126410,1John,5,2,RA,----APF-,ὁ,03588,τὰς,,15,62
126411,1John,5,2,N-,----APF-,ἐντολή,01785,ἐντολὰς,,16,62
126412,1John,5,2,RP,----GSM-,αὐτός,00846,αὐτοῦ,⸀,17,62
126413,1John,5,2,V-,1PAS-P--,ποιέω,04160,ποιῶμεν,·\n,18,62

In [12]:
gnt_grouped_df.loc[(gnt_grouped_df['nr_sq_livro'] == 40) & (gnt_grouped_df['chapter'] == 19) & (gnt_grouped_df['verse'] == 16)]

,nr_sq_livro,chapter,verse,words,lemmas,strongs
631,40,19,16,Καὶ ἰδοὺ εἷς προσελθὼν αὐτῷ εἶπεν Διδάσκαλε τί...,καί ἰδού εἷς προσέρχομαι αὐτός λέγω διδάσκαλος...,02532 02400 01520 04334 00846 03004 01320 0510...

In [13]:
sql_lxx_expr ='''
                SELECT 
                    lxx.book_name
                    , lxx.chapter_nr
                    , lxx.verse_nr
                FROM 
                    lxx_df lxx
                WHERE 
                    lxx.verse_text like '%ἀγαπῶμεν%' and lxx.verse_text like '%ἐντολὰς%'
                '''

In [ ]:
sql_lxx_strongs_expr ='''
                        SELECT 
                            lxx.book_name
                            , lxx.chapter_nr
                            , lxx.verse_nr
                        FROM 
                            lxx_df lxx
                        WHERE 
                            lxx.verse_text like '%ἀγαπῶμεν%' and lxx.verse_text like '%ἐντολὰς%'
                        '''

In [14]:
occs_lxx_expr = sqldf(sql_lxx_expr)

In [15]:
len(occs_lxx_expr)

0

In [16]:
occs_lxx_expr.head()

Empty DataFrame
Columns: [book_name, chapter_nr, verse_nr]
Index: []

In [ ]:
strongs_df_def = pd.read_sql_query("""SELECT * FROM